<html>
<head>
    {% block title %}
    <title>Application for clustering Energy Consumers</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/"><b>Application for clustering Energy Consumers</b></a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto"> <!-- Align to the right -->
                        <li class="nav-item ml-3">
                            <span style="font-size: 1.35em;">
                                Results
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

</body>
</html>